<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New ToDo</title>
  </head>
  <body>

    <h1>New Url</h1>

    <form action="/urls" method="post">
      <label>Original Url</label>
      <input id="original_url" type="text" name="original_url" value="">
      <br><br>
      <label>Shortened Url</label>
      <input id="shortened_url" type="text" name="shortened_url" value="">
      <br><br>
      <input type="submit">
    </form>

  </body>
</html>
