<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Url</title>
  </head>
  <body>
    <h1>Create a shortern Url!</h1>
    <form action="/Url" method="post">
      <label for="OriginalUrl">OriginalUrl</label>
      <input type="text" name="OriginalUrl" value="">
      <br>
      <label for="ShorternUrl">ShorternUrl</label>
      <input type="text" name="ShorternUrl" value="">
      <br>
      <input type="submit" name ="" value="Submit">
    </form>
  </body>
</html>
